body {
  background: transparent;
}

#root {
  background: center top / cover no-repeat url('assets/movie_bg1.jpg');
  min-height: 100vh;
}

.main-title {
  color: #d48806;
  margin-bottom: 20px;
}

.main-div {
  padding: 30px 0;
  text-align: center;
}

.main-div__rating {
  margin: 0 auto 20px auto;
}

.main-div__slider {
  max-width: 340px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  overflow: hidden;
}

.main-div__button {
  margin: 4px;
}

.ant-slider-mark-text {
  color: #ffffff;
}

.ant-card-head-title {
  white-space: initial;
}